

.logo2{
    margin-left: 14rem;
    margin-top: 3rem;
}

.footer {
    padding: 4rem 14rem;
    display: flex;
    gap: 6rem;
}

.footer>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer>div>:nth-child(1) {
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #B6BCCE;
}

.footer>div>span {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #061237;
}

.footer>:nth-child(4)>div {
    display: flex;
    align-items: center;
    border: 1px solid #F2F3F8;
    padding: 2px;
}

.footer>:nth-child(4)>div>input {
    padding: 0.8rem;
    border: 0;
    outline: 0;

}

.footer>:nth-child(4)>div>button {
    border: 0;
    outline: 0;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B6BCCE;
}

@media screen and (max-width: 767px) {
    .footer{
        flex-direction: column;
        padding: 1rem 4rem;
        gap: 2rem;
    }
    .logo2{
        margin-left: 3rem;
        margin-bottom: 3rem;
    }

}